.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.linksContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
