@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #020617;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3b0e1c;
  --gray: #828282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}
a {
  text-decoration: none;
  color: inherit;
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .text-80-bold {
    @apply text-[80px] font-bold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-white;
  }

  .text-24-black {
    @apply text-[24px] font-black text-white;
  }

  .text-20-normal {
    @apply font-normal text-[20px] text-white;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-white;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white;
  }
  .text-white-small {
    @apply font-normal text-xs text-white;
  }

  .text-black-small {
    @apply font-normal text-xs text-black;
  }

  .bodyContainer {
    @apply w-full overflow-hidden mx-auto flex justify-center items-center px-12 md:px-16 xl:px-20;
  }

  .container {
    @apply w-full min-h-screen flex flex-col justify-between;
  }

  .text-container {
    @apply flex flex-col;
  }

  .mobile-links {
    @apply absolute top-[100px] left-0 w-[260px] h-[calc(100vh-100px)] gap-5 overflow-hidden z-50;
  }

  .menu-button {
    @apply block ml-auto cursor-pointer md:hidden text-lg;
  }

  .buttons {
    @apply flex gap-5;
  }

  .button {
    @apply px-4 py-3.5 min-w-[100px] cursor-pointer border-none rounded-lg;
  }

  .image-container {
    @apply relative w-full min-h-[300px] sm:min-h-[400px] md:min-h-[500px];
  }

  .hero-img {
    @apply object-cover;
    clip-path: polygon(
      0% -90%,
      100% 25%,
      30% 90%,
      71% 0,
      100% 25%,
      100% 25%,
      100% 50%,
      65% 50%,
      75% 100%,
      26% 100%,
      34% 55%,
      9% 50%
    );
    width: 100%;
    height: 100%;
  }

  .image-container::after {
    @apply absolute left-0 w-full h-full bg-[#3b0e1c] -z-10 overflow-hidden;
    clip-path: polygon(
      9% 26%,
      35% 25%,
      30% 0,
      71% 0,
      65% 25%,
      90% 25%,
      90% 50%,
      65% 50%,
      75% 100%,
      26% 100%,
      35% 50%,
      9% 50%
    );
    content: '';
  }

  .neonCircle {
    @apply absolute aspect-square border-[10px] border-solid border-[rgba(255,255,255,0.947)] rounded-full;
    @apply shadow-[0_0_10px_rgba(255,255,255,0.692),0_0_10px_rgba(255,255,255,0.7),0_0_0_rgba(255,255,255,0.5),inset_0_0_10px_rgba(255,255,255,0.4),inset_0_0_10px_rgba(255,255,255,0.6)];
    @apply w-[110vw] h-[110vw] top-[-15%] right-[-45%];

    @apply sm:w-[130vw] sm:h-[130vw] sm:top-[-15%] sm:right-[-65%];

    @apply md:w-[100vw] md:h-[100vw] md:top-[-5%] md:right-[-220%];

    @apply lg:w-[80vw] lg:h-[80vw] lg:top-[-5%] lg:right-[-110%];

    @apply xl:w-[60vw] xl:h-[60vw] xl:top-[-9%] xl:right-[-40%];
  }
}
